/* 
* @Author: Marte
* @Date:   2017-12-20 12:07:07
* @Last Modified by:   Marte
* @Last Modified time: 2017-12-20 20:56:15
*/
.page{width: 300px;height: 300px;border: 1px solid #000; background: url(../images/bj.jpg) no-repeat center; background-size: cover;}